# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

#templates
templates/
home4.html
market4.html

# Flask
instance/
*.db

# VS Code
.vscode/
tempCodeRunnerFile.py

# OS junk
.DS_Store
Thumbs.db